@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3><a href="/Destinations">Destinations</a></h3>
    <h3><a href="/Reviews">Reviews</a></h3>
</div>
